*{
    box-sizing: border-box;
}
body{

    padding: 15px;
    background-color: #b7cfe4;
}
p{
    font-size: 28px;
}

/*dropdown menu*/
.dropbtn{
    background-color: #9ace9c;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus{
    background-color: #46b149;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .show {display:block;
}

/*bounce ball*/
.bouncing{
    margin-top: 150px;
}
.mycanvas{
    border: .5px solid white;
    width: 500px;
    height: 500px;
    position: absolute;
    margin: auto;
    margin-top: 700px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#ball{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    position: relative; 
    top: 100px;
    left: 220px;
    animation: ;
}
@keyframes bounce {
    10% {
          height: 50px;
        width: 50px;
    }
    30%{
        height: 50px;
        width: 40px;
    }
    50% { 
        height: 30px;
        width: 57px;
        transform: translateY(240px);
    }
    75%{
        height: 50px;
        width: 57px;
    }
    100%{
        transform: translateY(0px);
    }
}
.container{
    width: 57px;
    height: 50px;
}
#shadow{
    background-color: rgba(8,8,8,.05);
    height: 10px;
    width: 65px;
    border-radius: 50%;
    position:relative;
    top:310px;
    left:212px;
    z-index: -1;
    animation: ;
}
@keyframes shrink{
    50%{
        transform:scaleX(0.5);
    }
}
#startbtn, #stopbtn{
    width: 60px;
    height: 30px;
}

/*making text larger by hovering*/
.mouseenter{
    margin-top: 725px;
    margin-bottom: 100px;
}